<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>kETH - VSCODE</title>
    </head>

    <body>
        <div class="container" id="main-container">
            <div id="header" class="row">
                <div class="col-sm">
                    <h3>kETH Crypto Builder</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                   <form method="POST" name="createForm" action="/create">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" required="required" name="project" class="form-control" placeholder="Project Name">
                            </div>
                            <div class="col">
                                <input type="text" required="required" name="port" min="8080" max="9999" class="form-control" placeholder="Port">
                            </div>
                            <div class="col">
                                <button type="submit" name="submit" class="btn btn-primary">CREATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-sm">
                    <ul class="list-group">
                        {{#each data.ingress}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span style="display:inline-block;width:200px">{{backend.service.name}}</span>
                                <a target="__blank" href="http://{{../data.baseUrl}}/proxy/{{backend.service.port.number}}/">{{../data.baseUrl}}/proxy/{{backend.service.port.number}}</a>
                                <span class="badge badge-primary badge-pill">live</span>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>